<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">Add Costume</h2>

    <div class="container">
        <form action="#" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <img id="current_photo" class="thumbnail" src="photos/8_1.jpg"
                             style="width: 105%;border-style: hidden">
                    </div>
                    <div class="row" style="padding-top: -20px">
                        <div class="col-md-2">
                            <img class="thumbnail" src="photos/8_2.jpg" style="width: 135%;border-style: hidden"
                                 data-toggle="modal" data-target="#img1">
                            <!-- Modal -->
                            <div class="modal fade" id="img1" role="dialog">
                                <div class="modal-dialog" style="top: 50%;">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">UPLOAD PHOTO</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Choose the file to upload</p>
                                        </div>
                                        <div class="modal-footer">
                                    <span class="btn btn-default btn-file">
                                    Browse <input type="file" name="img1">
                                    </span>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <img class="thumbnail" src="photos/8_2.jpg" style="width: 135%;border-style: hidden"
                                 data-toggle="modal" data-target="#img1">
                            <!-- Modal -->
                            <div class="modal fade" id="img1" role="dialog">
                                <div class="modal-dialog" style="top: 50%;">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">UPLOAD PHOTO</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Choose the file to upload</p>
                                        </div>
                                        <div class="modal-footer">
                                    <span class="btn btn-default btn-file">
                                    Browse <input type="file" name="img1">
                                    </span>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <img class="thumbnail" src="photos/8_2.jpg" style="width: 135%;border-style: hidden"
                                 data-toggle="modal" data-target="#img1">
                            <!-- Modal -->
                            <div class="modal fade" id="img1" role="dialog">
                                <div class="modal-dialog" style="top: 50%;">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">UPLOAD PHOTO</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Choose the file to upload</p>
                                        </div>
                                        <div class="modal-footer">
                                    <span class="btn btn-default btn-file">
                                    Browse <input type="file" name="img1">
                                    </span>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <img class="thumbnail" src="photos/8_2.jpg" style="width: 135%;border-style: hidden"
                                 data-toggle="modal" data-target="#img1">
                            <!-- Modal -->
                            <div class="modal fade" id="img1" role="dialog">
                                <div class="modal-dialog" style="top: 50%;">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">UPLOAD PHOTO</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Choose the file to upload</p>
                                        </div>
                                        <div class="modal-footer">
                                    <span class="btn btn-default btn-file">
                                    Browse <input type="file" name="img1">
                                    </span>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <img class="thumbnail" src="photos/8_2.jpg" style="width: 135%;border-style: hidden"
                                 data-toggle="modal" data-target="#img1">
                            <!-- Modal -->
                            <div class="modal fade" id="img1" role="dialog">
                                <div class="modal-dialog" style="top: 50%;">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">UPLOAD PHOTO</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Choose the file to upload</p>
                                        </div>
                                        <div class="modal-footer">
                                    <span class="btn btn-default btn-file">
                                    Browse <input type="file" name="img1">
                                    </span>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <img class="thumbnail" src="photos/8_2.jpg" style="width: 135%;border-style: hidden"
                                 data-toggle="modal" data-target="#img1">
                            <!-- Modal -->
                            <div class="modal fade" id="img1" role="dialog">
                                <div class="modal-dialog" style="top: 50%;">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">UPLOAD PHOTO</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Choose the file to upload</p>
                                        </div>
                                        <div class="modal-footer">
                                    <span class="btn btn-default btn-file">
                                    Browse <input type="file" name="img1">
                                    </span>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5" style="padding-left: 10%;font-family: Georgia, Times, Serif;line-height:
                3.2rem;font-size:14px;font-weight: 100">
                    <h2>THIS WILL BE TITLE</h2>
                    <br>
                    <textarea class="form-control" name="description" rows="5" id="description"
                              placeholder="WRITE DESCRIPTION HERE"></textarea>

                    <div class="row" style="padding-top: 30px">
                        <div class="form-group">
                            <label for="size" class="col-md-4 control-label">SIZE</label>

                            <div class="col-md-8">
                                <input type="text" name="size" class="form-control" id="size" placeholder="size">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 10px">
                        <div class="form-group">
                            <label for="pattern" class="col-md-4 control-label">PATTERN</label>

                            <div class="col-md-8">
                                <select class="form-control" name="pattern" id="pattern">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 10px">
                        <div class="form-group">
                            <label for="year" class="col-md-4 control-label">YEAR</label>

                            <div class="col-md-8">
                                <input type="number" name="year" class="form-control" id="year" placeholder="year">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 10px">
                        <div class="form-group">
                            <label for="gender" class="col-md-4 control-label">GENDER</label>

                            <div class="col-md-8">
                                <select class="form-control" name="gender" id="gender">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 10px">
                        <div class="form-group">
                            <label for="location" class="col-md-4 control-label">LOCATION</label>

                            <div class="col-md-8">
                                <input type="text" name="location" class="form-control" id="location"
                                       placeholder="location">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 10px">
                        <div class="form-group">
                            <label for="material" class="col-md-4 control-label">MATERIAL</label>

                            <div class="col-md-8">
                                <select class="form-control" name="material" id="material">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 10px">
                        <div class="form-group">
                            <label for="type" class="col-md-4 control-label">TYPE</label>

                            <div class="col-md-8">
                                <select class="form-control" name="type" id="type">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 10px">
                        <div class="form-group">
                            <label for="color" class="col-md-4 control-label">COLOR</label>

                            <div class="col-md-8">
                                <select class="form-control" name="color" id="color">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 10px">
                        <div class="form-group">
                            <label for="play" class="col-md-4 control-label">PLAY</label>

                            <div class="col-md-8">
                                <input type="text" name="play" class="form-control" id="play" placeholder="play">
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-md-8"></div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                                    data-target="#myModal">
                                SUBMIT
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog" style="top: 50%;">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">WARNING</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Do you really want to add this costume?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-default">UPLOAD
                                            </button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </form>
    </div>
</div>