<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Centre Theater</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="css/theater-base.css" rel="stylesheet">
    <style>
        .modal-dialog{
            position: absolute;
            left: 30%;
        // this same situation is with height - example
        height: 500px;
            top: 50%;
            margin-top: -250px;
        }
    </style>
</head>
<body>
<img class="thumbnail" src="photos/8_2.jpg" style="width: 135%;border-style: hidden" data-toggle="modal" data-target="#myModal">


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="top: 50%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">UPLOAD PHOTO</h4>
            </div>
            <div class="modal-body">
                <p>Choose the file to upload</p>
            </div>
            <div class="modal-footer">
                <span class="btn btn-default btn-file">
                            Browse <input type="file" name="img1">
                            </span>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close
                </button>
            </div>
        </div>

    </div>
</div>
</body>
</html>