<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Centre Theater</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">ABOUT<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">ABOUT CENTRE</a></li>
                        <li><a href="#">ABOUT THIS PROJECT</a></li>
                        <li><a href="#">CONTACT INFO</a></li>
                        <li class="divider"></li>
                        <li><a href="#">REPORT BUG</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">ADMIN<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="admin.html#costume">MANAGE COSTUMES</a></li>
                        <li><a href="admin.html#user">MANAGE USERS</a></li>
                        <li><a href="admin.html#web">WEBSITE ADMIN</a></li>
                    </ul>
                </li>
                <li><a href="login.html">LOGIN</a></li>
            </ul>
        </div>
    </div>
</nav>
